<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Todo List</title>
  <link rel="stylesheet" href="styles.css" />
</head>

<body>
  <div id="app">
    <div>
      <label for="todo">Todo</label>
      <input type="text" id="todo" v-model="enteredValue" />
      <button v-on:click="addTodo">Add Todo</button>
    </div>
    <ul>
      <li v-for="(todo, index) in todos" @dblclick="removeTodo(index)">{{ todo }}</li>
    </ul>
    <p v-if="todos.length > 0">Double click to remove</p>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="app.js"></script>
</body>

</html>